[submodule "Ballot/lib/ds-test"]
	path = Ballot/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "Ballot/lib/forge-std"]
	path = Ballot/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
